<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
   <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/logo1.svg}">
    <title>TEMA BLOG</title>
    <link th:href="@{/styles/nav-styles.css}" rel="stylesheet" type="text/css">
    
     <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <nav th:insert="fragments :: nav"></nav>

  <!--  <main>

    <h1>Login</h1>

    <div class="space"></div>

    <div class="form-wrapper">
    <form th:action="@{/login}" method="post" class="crud-center">
    
        <div th:if="${param.error}">
            <div class="alert alert-danger">Invalid username/email or
                password.</div>
        </div>

      
        <div th:if="${param.logout}">
            <div class="alert alert-info">You have been logged out.</div>
        </div>

        <div class = "form-group">
            <div class = login-bar>
                <label for="username"> E-Mail </label> :
                <input type="text"
                       class = "input-field"
                       name="username" id="username"
                       placeholder="Enter e-mail as username">
            </div>
        </div>

        <div class="form-group field">
            <label for="password">Password</label>:
            <i class="fa fa-lock"></i>
            <input type="password"
                class="input-field"
                name="password" id="password"
                placeholder="Password" />
        </div>
        
        <div class="form-group">
            <div class="">
                <div class="login-bar">
                    <input type="submit" class="login-register-button"
                        value="Log In" />
                </div>
            </div>
        </div>

        <div class="login-register-here">
            <span>New user? <a href="/" th:href="@{/register}">Register here</a></span>
        </div>

    </form>

</div>

</main> -->





<div class="grid align__item">

    <div class="register">

     <img class="logoicon" th:src="@{/images/iconLogo.png}" />
      <h2>Sign Up</h2>

      <form th:action="@{/login}" method="post" class="form">
      <div th:if="${param.error}">
            <div class="alert alert-danger">Invalid username/email or
                password.</div>
        </div>

      
        <div th:if="${param.logout}">
            <div class="alert alert-info">You have been logged out.</div>
        </div>
        
        <div class="form__field">
          <input type="text" name="username" id="username" placeholder="info@mailaddress.com">
        </div>

        <div class="form__field">
          <input type="password" name="password" id="password" placeholder="••••••••••••">
        </div>

        <div class="form__field">
          <input type="submit" value="Log In">
        </div>

      </form>

      <p>You dont have an accout? <a href="/" th:href="@{/register}">Register here</a></p>

    </div>

  </div>







    <footer th:insert="fragments :: footer"></footer>

</body>
</html>