<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
   <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/logo1.svg}">
    <title>TEMA BLOG</title>
    <link th:href="@{/styles/nav-styles.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

	<nav th:insert="fragments :: nav"></nav>

	<main>

    <!--<h1>Register A New Account</h1>

	<div class="space"></div>

				<div class="form-wrapper2">
				<form th:action="@{/register}" method="post" th:object="${user}" class="crud-center">
					<div th:if="${errorMessage}" th:text="${errorMessage}" class="error_message">
					
					</div>
	
					<div th:if="${param.success}">
						<div class="alert alert-info">You've successfully registered
							to our awesome app!</div>
					</div>

					<div class="form-group field">
						<label class="" for="firstName"> First Name </label>
						<i class='fa fa-user-circle-o'></i>
						<input id="firstName" class="" th:field="*{firstName}" th:required="required" placeholder="First Name"/>
					</div>

					<div class="form-group field">
						<label class="" for="lastName"> Last Name </label>
						<i class='fa fa-user-circle-o'></i>
                        <input id="lastName" class="" th:field="*{lastName}" th:required="required" placeholder="Last Name"/>
					</div>

					<div class="form-group field">
						<label class="" for="email"> Email </label>
						<i class='fa fa-envelope'></i>
                        <input id="email" class="" th:field="*{email}" th:required="required" placeholder="Email"/>
					</div>

					<div class="form-group field">
						<label class="" for="password"> Password </label>
						<i class="fa fa-lock" style="font-size: 2rem; margin-left: 18px;"></i>
                        <input id="password" class="" type="password" th:field="*{password}" th:required="required" placeholder="Password"/>
					</div>

					<div class="submit-button">
						<button type="submit" class="">Register</button>
						<input type="submit" class="" value="Register" />
					</div>
					
					<div class="login-register-here">
						<span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>

					</div>
				</form>
			</div>-->
			
			
			<main>

    <div class="grid align__item">

    <div class="register">

     <img class="logoicon" th:src="@{/images/iconLogo.png}" />
      <h2>Sign In</h2>

      <form th:action="@{/register}" method="post" th:object="${user}" class="form">
      <!--<div th:if="${param.error}" /////th:action="@{/login}" method="post">
            <div class="alert alert-danger">Invalid username/email or
                password.</div>
        </div>-->

      
        <!--<div th:if="${param.logout}">
            <div class="alert alert-info">You have been logged out.</div>
        </div>-->
        
		<!--<label for="email" class="form-label">Votre adresse e-mail</label>-->
        <div class="form__field">
          <input type="email" name="email" id="email" th:field="*{email}" placeholder="Gmail">
        </div>

		<!--<label for="firstname" class="form-label">Votre prénom</label>-->
        <div class="form__field">
          <input type="text" name="firstname" id="firstname" th:field="*{firstName}" placeholder="Prènom">
        </div>

		<!--<label for="lastname" class="form-label">Votre nom</label>-->
		<div class="form__field">
          <input type="text" name="lastname" id="lastname" th:field="*{lastName}" placeholder="Nom">
        </div>
        
        <!--<label for="lastname" class="form-label">Votre password</label>-->
		<div class="form__field">
          <input type="password" name="password" id="password" th:field="*{password}" placeholder="Mot de passe">
        </div>
        
        <div class="form__field">
          <input type="submit" value="S'inscrire">
        </div>

      </form>

      <p>Vous avez déjà un compte ? <a href="/" th:href="@{/login}">Inscrivez-vous ici</a></p>

    </div>

  </div>
			</main>
			</main>

	<footer th:insert="fragments :: footer"></footer>

</body>
</html>