<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>

  <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/logo1.svg}">
    <title>TEMA BLOG</title>
    <link th:href="@{/styles/nav-styles.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap-grid.css" integrity="sha512-ydsH43E0w5jdJF8+tvH1bRfnHmQ0fhhQZ3fKfQWgnLoWNeGVczK/A2tb4d6+/y8o0G62bSxizTGwpqgAp9Xd8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<nav th:insert="fragments :: nav"></nav>

	<!--<h1 class="delete-title-page" style="color:red;">Voulez-vous vraiment supprimer ce blog ?</h1>
	
	<div id="delete-blog-Container">
	    <div class="blog-Container-delete">
	        <div class="blog-Container-title">
	            <h2 th:text = "${title}"></h2>
	        </div>
	        <div class="blog-Container-content">
	            <p th:text = "${content}"></p>
	        </div>
	        <div class="blog-Container-footer">
	            <p>Posté par: <span th:text = "${authorFullName}"></span> le <span th:text = "${date}"></span></p>
	        </div>
	    </div>
	</div>
	
	<div class="delete-page-buttons">
	    <div>
	        <a href="#" class="btn btn-default post" th:href="@{/posts}">Cancel</a>
	        <a href="#" class="btn btn-default post" th:href="@{/delete/{id}(id=${id})}">Delete</a>
	    </div>
	</div>-->
	<br><br>
	<div class="container">
		<div class="card text-center" style="color: #757575;">
  		<div class="card-header" th:text = "${authorFullName}"></div>
  		<div class="card-body">
    		<h5 class="card-title" th:text = "${title}"></h5>
    		<p class="card-text" th:text = "${content}"></p>
  		</div>
  		<div class="card-footer text-body-secondary" th:text = "${date}"></div>
  		<div class="btn-group delete-page-buttons" role="group">
			<a class="btn btn" th:href="@{/posts}"  style="color: #7030cb;">
            	<i class="fas fa-edit"></i> Annuler
            </a>
            <a class="btn btn " th:href="@{/delete/{id}(id=${id})}" style="color: #7030cb;">
                <i class="fas fa-trash"></i> Supprimer
            </a>
		</div>
	</div>
	</div>
	<br><br>
	
	
	
<footer th:insert="fragments :: footer"></footer>

</body>
</html>